body{
	margin: 0;
	/*font-family: 'IBM Plex Sans', sans-serif;*/
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Khula', sans-serif;
}
.navigate{
  display:flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}
.portada{
	background-image: url(../images/portada.png);
	background-size: cover;
	height: 650px;
}
.navigate h2 {
  margin:0 15px;
}
.menu ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin:0;
}
.menu2 ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin:0;
}
.menu li {
  padding: 0 20px;
}
.menu2 a {
  text-decoration: none;
}
.menu a {
  text-decoration: none;
  vertical-align: sub;
  color:black;
}
.Titulos{
	margin-left: 132px;
}
.titulo strong{
	display: block;
}
.titulo{
	margin-top: 370px;
	font-size: 70px;
	margin-bottom: 0;
	line-height: 60px;
}
.titulo-a{
	margin-top: 0;
	color: grey;
}
.punto{
	color:#ff3366;
	text-decoration: none;
}
.Titulos a{
	text-decoration: none;
	color:#ff3366;
}
.EN{
	color:black;
	margin-right: 10px;
}
.us{
	color: grey;
}
.testride {
	background-color: black;
	color:white;
	padding: 25px 40px;
	font-size: 12px;
	margin-right:0;
}
.buy{
	background: #ff3366;
	color: white;
	padding: 25px 50px;
	font-size: 12px;
}
.rose{
  background-color: #ff3366;
  padding: 20px 0;
}
.caja-rose {
  display: flex;
  text-align: center;
  list-style: none;
  max-width: 700px;
  margin: 0 auto;
  line-height: 0.8;
}
.caja-rose li{
  display: flex;
  flex-direction: column;
  justify-content: center;
	color: white;
  font-size: 40px;
  padding: 0 20px;
  text-align: center;
  align-items: center;
}
.td{
  font-size: 10px;
}
.TC{
	font-family: 'Squada One', cursive;
}
.libre{
  font-family: 'PT Serif', serif;
  line-height: 0.3;
}
.libre2{
  font-family: 'PT Serif', serif;
  line-height: 1;
}
.rtbf{
	font-family: 'Orbitron', sans-serif;
}
.grilla{
	display: grid;
	grid-template-columns:50% 50%; 
	grid-template-rows:1fr 1fr 1fr;
}
.bici {
  width: 100%;
  height: 100%;
}
.image-desing {
  width: 100%;
  height: 100%;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
}
.desing h2{
	font-size: 55px;
  line-height: 50px;
}
.reviews{
	height: 300px;
	margin-left: 60px;
}
.reviews h2{
	font-size: 30px;
	line-height: 30px;
}
.filter{
	font-size: 12px;
}	
footer{
	color: white;
	background-color: black;
}
.contenedor{
	display: grid;
	grid-template-columns: 200px 150px 150px 150px;
	grid-template-rows: 150px;
	grid-column-gap: 70px;
	padding: 50px;
	justify-content: center;
	list-style: none;
	border-bottom: 1px solid grey;
}
.sing input{
	background-color: rgba(1,1,1,.7);
	border: none;
	color: grey;
	padding: 10px;
	margin-top: 10px;
	font-size: 10px;
	border-bottom: 1px solid grey;
}
.cowboy h3{
	margin-top: 0;
}
.find{
	color:grey;
}
.reviews a{
	margin: auto;
}
.PD{
	font-weight: bold;
	font-size: 16px;
	margin-top: 0;
}
.contenedor li{
	font-size: 12px;
}
.TERMS{
	margin:0;
	text-align: center;
	padding: 20px;
}
.TERMS li{
	display: inline-block;
	margin-left: 150px;
	font-size: 10px;
}
